{% extends 'faq.html' %}
{% load static %}
{% block title %} Donate For Cause {% endblock title %}
{% block navbar %}
        <!-- start slider section --> 
        <section class="p-0 main-slider h-100 mobile-height wow fadeIn ">
            <div class="swiper-full-screen swiper-container h-100 white-move " style="width:90%; height: 90%;">
                <div class="swiper-wrapper">
                   
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-3.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-2.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-4.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-1.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    
                </div>
                
                <div class="swiper-pagination swiper-pagination-square swiper-pagination-white swiper-full-screen-pagination d-none"></div>
                <div class="swiper-button-next slider-small-arrow-white"><i class="fas fa-angle-right pull-right"></i></div>
                <div class="swiper-button-prev slider-small-arrow-white"><i class="fas fa-angle-left pull-right"></i></div>
                <!-- end slider pagination -->
                
            </div>
        </section>
        <!-- end slider section -->
        <section class="wow fadeInUp">
            <div class="container text-center padding-five-all">
                <h4 class="text-extra-dark-gray mb-1 alt-font ">From Crowd-Funding to Cow-Funding</h4>
                <span class="text-deep-pink alt-font">A way for everyone to help – GO-FUNDS </span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-2">
                        <p class="text-justify ">With GO-FUNDS Cow funding is made simple for a wider reach and people from all around the world will have the opportunity to bring a touch of home, and Vedic tradition with them. They will be able to sponsor the care for these majestic, beautiful and peaceful animals.Go-seva or service to cows is understood to bring auspiciousness and wealth into one’s life. This service can take many forms and all amounts are needed to help many goshalas throughout the world to maintain their standard of care and reach their objectives.</p>
                        <p class="text-justify ">Go-Funds has the ability and potential to unite people from all walks of life in a way that very few projects can and you have the ability to create global change by helping one goshala, even one cow at a time.There is no donation too small or too big for this project, and every single amount is welcomed and cherished.Every cent makes an incredible difference in the lives of these animals who are most dear to the Supreme Lord. Each donation can be made as a one time donation, or as a monthly recurring donation, and it is our hope that whatever amount you consider, you make as a monthly recurring donation, making these majestic cows and these projects part of your family.</p>
                        
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <h6 class="text-extra-dark-gray alt-font">The Indian Cow – Vedic relevance</h6>
                        <p class="text-justify">The Indian cow has pivotal place in the social, economical, political and spiritual spheres of Indian civilization. It is playing a key role in the economic development in India since ancient time. Vedic Literature says ‘Gou Sarve Sukhprada’ which implies cow gives all pleasure to human beings-wealth as well as health. Indian agriculture, health, hygiene and environment have been largely dependent on cow for thousands of years.</p>
                        <p class="text-justify">Fresh cow dung kills bacteria that cause malaria and TB. Cow dung is used for protection from atomic emission. Cow urine contains copper which transfers into gold in human body. Gold has power to destroy all pathogens. Cow urine also contains iron, calcium, phosphorus, carbonic acid, potash and lactase. It contains 24 types of salt and several useful medicines are made from cow urine.</p>
                        <p class="text-justify">In cow milk contains vitamin A, B, D, E, K, 7 types of minerals, 21 types of Amino Acid, 22 types of salt and 24 types of enzymes in an easy digestive form. When cow milk converts into curd, buttermilk and ghee more nutrients added in it. Panchgavya is made from cow’s milk, curd, ghee, dung and urine. Panchgavya is very effective against many human and plant diseases.</p>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 mb-2">
                        <h6 class="text-extra-dark-gray alt-font">Importance Of Gousalas</h6>                       
                        <p class="text-justify">Earlier, every village in India had a gousala. Deshi cows were protected and bred for pedigree purpose (to maintain original breeds in different climatic situation). In every aspect, the cow is beneficial to man - the milk provides the required nutrition to the entire family, natural fertilizers and pesticides are manufactured from deshi cow dung. Deshi cow urine or Go-mutra is distilled for Ayurvedic medicinal purposes.</p>
                        <p class="text-justify">Cow dung is also used to line the floor and walls of buildings owing to its insect repellent properties.In villages, in the cold weather, cow dung is used to line the walls of houses as a thermal insulator. The dung is used for biogas and to generate electricity and heat.</p>
                        <p class="text-justify">The gas is a rich source of methane and is used in Rural areas of India to provide a renewable and stable source of electricity. <b>Revert to traditional, successful, low-cost farming methods. Saving farmers from a life of hardship and debt.</b></p>
                    </div>
                    <div class="col-12 text-center">
                        <p class="text-center text-extra-dark-gray font-weight-bolder "> Rs 500/-       Rs 1,000/-     Rs 2.000/-   Rs 5,000/-   ( One time / monthly / your choice of date) </p>
                        <button class="btn btn-deep-pink">Donate Now</button>
                    </div>
                </div>
                
            </div>
            
        </section>
{% endblock navbar %}