{% extends 'product-one.html' %}
{% load static %}
{% block title %} Garbha Rakshamibgai, Thirukarukavoor {% endblock title %}

{% block Elements %} 

        <!-- start product banner section -->
        <section class="p-0 cover-background  top-space" style="background-color:white;">
            <div class="container-fluid">
                <div class="row padding-four-top justify-content-center" >
                    <div class="col-md-4 col-lg-4 col-12 align-items-center justify-content-center" >
                        <ul class="portfolio-grid hover-option4 lightbox-gallery" >
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                           
                            <li class="grid-item delivery wow fadeInUp" data-wow-delay="0.2s">
                                <a href="{% static 'images/Lord/img-7.jpg' %}" title="Garbha Rakshamibgai, Thirukarukavoor">
                                    <figure>
                                        <div class="portfolio-img bg-extra-dark-gray"><img src="{% static 'images/Lord/img-7.jpg' %}" alt="" class="project-img-gallery"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-center">
                                                <div class="portfolio-hover-box align-middle">
                                                    <div class="portfolio-hover-content position-relative">
                                                        <i class="ti-zoom-in text-white-2 fa-2x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                        </ul>

                    </div>
                    <div class="col-md-6 col-lg-6 col-12 p-5 pb-2  text-dark" style="background-color: #F5DB9B;">
                        <h5 class="alt-font font-weight-700 text-uppercase margin-15px-bottom">Garbha Rakshamibgai, Thirukarukavoor </h5>
                        <div class="col-12  line-height-28 last-paragraph-no-margin md-margin-50px-bottom sm-margin-30px-bottom wow fadeIn text-justify">
                            <p>Puja will be offered to the presiding deity.  Puja will be done daily for 5 days morning/mid day or evening.</p>
                        </div>
                        <div class="col-12  wow fadeIn margin-30px-top p-0">
                            <ul class="list-style-4 ">
                                <li class="margin-5px-bottom"><label class="width-30 d-inline-block">Recommended days:</label>Any Days</li>
                                <li class="margin-5px-bottom"><label class="width-30 d-inline-block">Recommended temples:</label>Garbha Rakshambigai temple, Thirukarukavoor</li>
                                <li class="margin-5px-bottom"><label class="width-30 d-inline-block">Sub category:</label>Safe Delivery </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end product banner section -->
        <!-- start product information section -->
        <section class="wow fadeInUp padding-80px-top mx-auto">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center margin-100px-bottom md-margin-50px-bottom sm-margin-30px-bottom">
                        <h4 class="font-weight-300 text-extra-dark-gray margin-15px-bottom">Product Description</h4>
                    </div>
                    <div class="col-12" >
                        <div class="container" >
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-12 p-3">
                                    <p class="font-weight-bolder text-extra-large text-center text-extra-dark-gray">Benefits</p>
                                    <ul class="list-style-5 text-dark">
                                        <li class="margin-5px-bottom">Pregnant women will be blessed with a healthy child</li>
                                        <li class="margin-5px-bottom">For Safe and Easy Delivery</li>
                                        <li class="margin-5px-bottom">Quick relief from labor pain</li>
                                        <li class="margin-5px-bottom">Good health</li>
                                        <li class="margin-5px-bottom">Quick healing after surgery</li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12 p-3">
                                    <p class="font-weight-bolder text-extra-large text-center text-extra-dark-gray">Temple Description</p>
                                    <p class="text-justify text-dark">Garbha Rakshambigai temple in Thirukarukavoor, is a temple where the Goddess blesses the couple who have difficulties in begetting a child.  This temple is placed in Thanjavur district of Tamil Nadu and one of the 276 padal petra sthalams.  This temple is dedicated to Lord Shiva and Goddess Parvati Devi.  Lord Shiva is called as Mullaivana nathar and Goddess by Garbha rakshambigai Amman, means "one who protects the foetus from all odds".  Pregnant women needs to perform Castor Oil Prasad Puja for safe and trouble free delivery.</p>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-12 p-3">
                                    <p class="font-weight-bolder text-extra-large text-center text-extra-dark-gray">Prasad Package</p>
                                    <ul class="list-style-5 text-dark text-justify">
                                        <li class="margin-5px-bottom">Sankalpam for Puja in Couples Name</li>
                                        <li class="margin-5px-bottom">Ghee Prasad/Castor oil Prasad</li>
                                        <li class="margin-5px-bottom">Holy Kumkum</li>
                                        <li class="margin-5px-bottom">Ma Garbharakshamibigai deity Photo</li>
                                        <li class="margin-5px-buttom">Sloka/Mantraa for conceiving/safe delivery.  Prasad will be sent at the end of finishing the Puja Schedule by Post/courier.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-6 col-lg-8 col-md-10 text-center">
                                <a class="btn btn-medium btn-rounded btn-transparent-deep-pink popup-with-zoom-anim wow fadeInUp" data-wow-delay="0.6s" href="#modal-popup2">I want this Pooja</a>
                                <!-- start modal pop-up -->
                                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-xl-8 col-lg-8 col-md-8 col-11 mx-auto  text-center modal-popup-main " style="background-color: #F5F8FA;">
                                    <iframe src="https://share.hsforms.com/16c1ZAB23SgeiJVRxhcokaw3cel6" width="100%"   style="height:125vh; padding: 0; margin:0;"></iframe>
                                </div>
                                <!-- end modal pop-up -->
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- end product information section -->
        {% endblock Elements %}