{% extends 'faq.html' %}
{% load static %}
{% block title %} Puja Online {% endblock title %}
{% block navbar %}
        <!-- start slider section --> 
        <section class="p-0 main-slider h-100 mobile-height wow fadeIn">
            <div class="swiper-full-screen swiper-container white-move" style="width: 90%; height: 90%;">
                <div class="swiper-wrapper">
                   
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-8.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-6.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-5.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    <!-- start slider item -->
                    <div class="swiper-slide cover-background" style="background-image:url({% static 'images/Carousal/carousal-7.jpg' %});">
                        
                    </div>
                    <!-- end slider item -->
                    
                </div>
                
                <div class="swiper-pagination swiper-pagination-square swiper-pagination-white swiper-full-screen-pagination d-none"></div>
                <div class="swiper-button-next slider-small-arrow-white"><i class="fas fa-angle-right pull-right"></i></div>
                <div class="swiper-button-prev slider-small-arrow-white"><i class="fas fa-angle-left pull-right"></i></div>
                <!-- end slider pagination -->
                
            </div>
        </section>
        <!-- end slider section -->
        <section class="wow fadeInUp pt-3" >
            <div class="container text-center padding-five-all">
                <h4 class="text-extra-dark-gray mb-1 alt-font ">Homams & Puja </h4>
                <span class="text-deep-pink alt-font">E-Archana </span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-2">
                        <p class="text-justify ">Archana refers to the recital of various names of Lord and seeking His divine blessings for the prosperity of the entire humanity. We facilitate conduct of Archana / Homam and Remedy pujas based on requests on a day of your choice and also on various festivals and on auspicious days at various temples.If you would like to sponsor and participate in these events, please include your sponsorship details in the form below. Our Vedic counsellor will call you understand and will facilitate your request.</p>
                        <p class="text-justify ">The Pandemic times has posed significant challenges in conduct of poojas / homams at temples you can also liberally contribute through donations for SANDHAYAKALA Pooja in identified temples.The Vedic services we do are done by own representatives and 27Mantraa is not the official representative of any of the temples listed in our website nor 27mantraa is the official website of any of the listed temples in our website. The costs associated with doing the Vedic services include the Fees paid at the respective temples, cost of Prasadam , dakshina, shipping costs and our services charges if any in conduct of those services. Our representatives takes the highest amount of professional care to ensure that the services are done to meet your specific needs and the contributors will be provided with right intimation in terms of performance of those services and feedback.</p>
                        
                    </div>
                    <div class="col-12 mb-2">
                        <h6 class="text-extra-dark-gray alt-font">Scheduling Instructions for Archana:</h6>
                        <ul class="list-style-4 text-justify pl-2 ml-3">
                            <li>Submit your Archana Request after selecting the date.</li>
                            <li>On receipt of your request, you will receive an email. This email indicates that the Puja Committee received your request.</li>
                            <li>Our Vedic Counsellor will call you back and understand your request and help you in choosing the right service for your need</li>
                            <li>The charges for vedic services will be paid online and you will be provided with a receipt for such payment.</li>
                            <li>Vedic counsellors will initiate the necessary request and track the Vedic service to completion and will update you on the progress either thru Email or Phone or any suitable communication.</li>
                            <li>On the day of the service you will receive a confirmation of the vedic services performed with sankalpam details as provided to 27mantraa.</li>
                            <li>The Prasad wherever is applicable will be sent by local courier to the Indian address provided.</li>
                            
                        </ul>
                    </div>
                    
                    <div class="col-12 text-center">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-6 col-lg-8 col-md-10 text-center">
                                <a class="btn btn-medium btn-rounded btn-transparent-deep-pink popup-with-zoom-anim wow fadeInUp" data-wow-delay="0.6s" href="#modal-popup2">Book Now</a>
                                <!-- start modal pop-up -->
                                <div id="modal-popup2" class="zoom-anim-dialog mfp-hide col-xl-8 col-lg-8 col-md-8 col-11 mx-auto  text-center modal-popup-main " style="background-color: #F5F8FA;">
                                    <iframe src="https://share.hsforms.com/16c1ZAB23SgeiJVRxhcokaw3cel6" width="100%"   style="height:125vh; padding: 0; margin:0;"></iframe>
                                </div>
                                <!-- end modal pop-up -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </section>
{% endblock navbar %}